# Build output
bin/
obj/

# User and IDE files
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Local databases
*.db
*.sqlite
*.sqlite3
*.mdf
*.ldf

# ASP.NET Runtime
wwwroot/avatars/*
!wwwroot/avatars/.gitkeep

# Logs
*.log

# Secrets
appsetting.Development.json
secrets.json

# OS
.DS_Store
Thumbs.db

#Ignore thumbnails created by Windows
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.idea/

#Nuget packages folder
packages/
