@page
@model IndexModel
@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h5 class="display-4">Witaj w pomocniku postaci do systemu Warhammer Fantasy Roleplay 4 ed.</h5>
    <hr />
    <h2>Centrum zarządzania:</h2>
    <div id="actionsContainer" class="d-flex flex-wrap gap-2 justify-content-center">
        <a class="btn btn-primary" asp-page="/Characters/Create">Stwórz postać</a>
        <a class="btn btn-primary" asp-page="/Campaigns/Create">Stwórz kampanię</a>
        <a class="btn btn-outline-secondary" asp-page="/Characters/CharacterHub">Lista postaci</a>
        <a class="btn btn-outline-secondary" asp-page="/Campaigns/CampaignHub">Lista kampanii</a>
    </div>
</div>
