@page
@model IndexModel
@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h5 class="display-4">Witaj w pomocniku postaci do systemu Warhammer Fantasy Roleplay 4 ed.</h5>
    <hr />
    <h2>Centrum zarządzania:</h2>
    <div id="actionsContainer">
        <button>Stwórz postać</button>
        <button>Edytuj postać</button>
        <button>Rozwiń postać</button>
    </div>
</div>
