@page
@model WFRP_Character_Companion.Pages.Characters.CharacterHubModel

<h2>Twoje postacie</h2>

@if (Model.Characters.Count == 0)
{
    <p>Nie masz jeszcze żadnych postaci.</p>
}

<div class="mt-3 mb-3">
    <a class="btn btn-success" asp-page="/Characters/CreateRace">Nowa postać</a>
</div>

@if (Model.Characters.Count > 0)
{
    <ul>
        @foreach (var c in Model.Characters)
        {
            <li>
                <a asp-page="/Characters/Details" asp-route-id="@c.Id">
                    @c.Name
                </a>
            </li>
        }
    </ul>
}
